body{
    background:rgb(12, 12, 12);
    color: whitesmoke;
    background-image:  url("perfectlogo.png") ;
    background-repeat: no-repeat;
    background-size: 150px 200px ;
    background-position: left top;
}
h1{
    text-align: center;
}
.content {
    padding: 13%;
}

.red {
    background-color: rgb(255, 225, 0);
    padding: 4%;
}

.blue {
    background-color: rgb(0, 239, 252);
    padding: 4%;
}

.white {
    background-color: whitesmoke;
    color: black;
}

.black {
    background-color:rgb(12, 12, 12);
    color: white;
}